@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Merriweather', serif;
    background-color: #ffffff;
}

.hero {
    z-index: 1;
}

.bg-nav {
    background-color: #333333 !important;
    height: 100px;
}

.focus-nav {
    border: 2px solid red;
}

.main-pic {
    border-radius: 50%;
    display: block;
    width: 100px;
    height: 100px;
    box-shadow: 0px 1px 7px 3px #203e37;
}

.navbar-toggler-icon {
    background-color: white;
    border-radius: 2px;
}

.navbar-brand {
    color: white;
}

.link-wrapper a {
    color: #333333;
    text-decoration: none;
}

.link-wrapper a:hover {
    color: #27ae60;
}


.navbar-wrapper {
    padding: 20px 40px;
    color: #333333;
}

.link {
    color: red;
    font: bold;
}
.review-image{
    border: 7px solid #192a56;
}
.order{
    padding: 10px;
    border-radius: 5px;
}
.navlink {
    font-size: 1.25rem;
    text-decoration: none;
    color: #666666;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    font: bold;
}

.navlink:hover {
    color: #192a56;
}

/* Specific styles for active links */
.link-active {
    background-color: #27ae60;
}

.resume-link-nav {
    background-color: transparent;
    border: 2px solid #333333;
    padding: 0.75rem 1rem;
    border-radius: 6px;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
    background-color: #333333;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
@media screen and(max-width:640px) {
    .hero{
        margin: 0;
        padding: 0;
    }
    .swiper-slide-content{
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    .navlink {
        padding-top: 10px;
        margin-top: 10px;
    }

    .resume-nav-bar-wrapper {
        margin-top: 10px;
        padding-top: 10px;
    }

    .main-pic {
        height: 50px;
        width: 50px;
    }
}